In [92]:
import numpy as np
import pandas as pd
import numpy as np
import sklearn as sk
from sklearn import preprocessing
import matplotlib.pyplot as plt
plt.rc("font", size = 14)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, RepeatedStratifiedKFold, RandomizedSearchCV, GridSearchCV
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score, roc_curve, precision_recall_curve, precision_score,f1_score, recall_score, accuracy_score
import seaborn as sns
from pprint import pprint
sns.set(style="white")
sns.set(style ="whitegrid", color_codes = True)
import os as os
import xgboost
path = '/Users/apple/Downloads/data/'
os.chdir(os.path.join(path))
os.getcwd()

loan_df = pd.read_csv('loan_approval_dataset.csv', sep = ',', skipinitialspace= True) # remove blank spaces from columns

In [93]:
print(loan_df.shape)

loan_df.rename(columns= lambda x: x.strip(), inplace= True) # remove spaces in the header
#loan_df.columns = loan_df.columns.str.replace(' ', '')
num_cols = [col for col in loan_df.columns if loan_df[col].dtypes == 'int'] # list of numeric cols
cat_cols = [col for col in loan_df.columns if loan_df[col].dtypes == 'O'] # list of categorical cols
replace_vals = {'Approved': 1, 
                'Rejected': 0 }
loan_df.replace({'loan_status': replace_vals}, inplace= True) # replace loan status value with 0s & 1s

(4269, 13)

In [94]:
loan_df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,1
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,0
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,0