In [2]:
import pandas as pd;
from sklearn.model_selection import train_test_split;
import os;
from category_encoders import HashingEncoder


path = '/Users/apple/Downloads/data'
os.chdir(os.path.join(path))
os.getcwd()
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
credit_approval = fetch_ucirepo(id=27) 
  
# data (as pandas dataframes) 
X = pd.DataFrame(credit_approval.data.features )
y = pd.DataFrame(credit_approval.data.targets)
  
nums_col = [i for i in X.columns if X[i].dtypes == 'float64']
cat_col = [i for i in X.columns if X[i].dtypes == 'O']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3 ,random_state= 0)

X_train['A7'].unique()

array(['v', 'ff', 'h', 'dd', 'z', 'bb', 'j', nan, 'n', 'o'], dtype=object)

In [10]:
Hashing_Encoder = HashingEncoder(cols= ['A7'], n_components= 4, return_df= True)
Hashing_Encoder.fit(X_train)
Hashing_Encoder.hash_method

'md5'

In [11]:
X_train_enc = Hashing_Encoder.fit_transform(X_train)
X_test_enc = Hashing_Encoder.fit_transform(X_test)

In [12]:
X_train_enc.head()

     col_0  col_1  col_2  col_3   A15    A14  ...  A6 A5  A4     A3     A2  A1
596      0      0      1      0  4159  396.0  ...   c  g   u  3.000  46.08   a
303      0      0      1      0     0  120.0  ...   q  g   u  2.875  15.92   a
204      0      0      1      0  1187   50.0  ...   w  p   y  2.125  36.33   b
351      0      1      0      0     0  100.0  ...  ff  p   y  0.585  22.17   b
118      0      0      1      0  1332  360.0  ...   m  g   u  7.040  57.83   b

[5 rows x 18 columns]

https://contrib.scikit-learn.org/category_encoders/hashing